th,
td {
  border: 2px solid #125d98;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

td {
  min-width: 1rem;
  text-align: center;
}

input {
  width: 2rem;
}

.tableValue {
  max-width: 30vw;
  overflow-x: scroll;
}

.mic {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}

.mic button {
  width: 6rem;
  height: 2rem;
}
main {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signal {
  margin: 2rem;
}

.inputConstant {
  width: 4rem;
  margin: 2rem;
  margin-bottom: 0;
}

.operations {
  display: grid;
  grid-template-columns: auto 1fr;
}
