th {
  border: 2px solid #125d98;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.input {
  width: 2rem;
  background-color: hex;
}

.signals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

main {
  padding: 2rem;
}